
.dot-marker {
    width: 10px;
    height: 6px;
    margin: auto;
    margin-top: 2px;
    border-radius: 10%;
    background-color: limegreen;
}

#imgB{
    clip-path: polygon(
        50% 0%, 60% 10%, 80% 0%, 100% 20%, 100% 50%, 100% 80%, 75% 100%,
        50% 90%, 30% 100%, 0% 75%, 3% 50%, 0% 25%, 25% 0%
    )
}

#imgC{
    clip-path: polygon(
        50% 0%, 60% 0%, 80% 0%, 100% 0%, 100% 50%, 90% 80%, 95% 100%,
        60% 90%, 30% 100%, 0% 75%, 5% 50%, 0% 25%, 25% 0%
    )
}

p{
    color:  #06053d;
}

#justify {
    text-align: justify;
}